<nb-layout>
  <nb-layout-column>
    <ion-header>
      <ion-title>App</ion-title>
    </ion-header>
  </nb-layout-column>

  <nb-layout-column>
    <ion-tabs>

      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="note">
          <ion-icon name="clipboard-outline"></ion-icon>
          <ion-label>Notes</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="commentary">
          <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
          <ion-label>Commentaires</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="notification">
          <ion-icon name="notifications-outline" mode="ios"></ion-icon>
          <ion-label>Notifications</ion-label>
        </ion-tab-button>
      </ion-tab-bar>

    </ion-tabs>
  </nb-layout-column>
</nb-layout>
