app-tabs {
    .layout-container .content .columns {
        display: block!important;
    }
    nb-layout-column {
        padding: 0!important;
    }
}

@media (min-width: 768px) {
    nb-list {
        flex-direction: row!important;
        flex-wrap: wrap;
        justify-content: space-between;
        flex: 1 1!important;
        align-items: flex-start;
    }
    nb-list-item {
        width: 45%;
        border-top: none!important;
    }
}