<table [nbTreeGrid]="dataSource" nbSort (sort)="changeSort($event)">

  <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="defaultColumns"></tr>
  <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: defaultColumns" [ngClass]="row.data['statusColor'] || ''"></tr>

  <ng-container *ngFor="let column of defaultColumns" [nbTreeGridColumnDef]="column">
    <th nbTreeGridHeaderCell [nbSortHeader]="getDirection(column)" *nbTreeGridHeaderCellDef>
      {{column}}
    </th>

    <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || '-'}}</td>
  </ng-container>

</table>

