nb-card {
    margin-bottom: .8rem;
    width: 100%;
}

nb-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        justify-self: end;
    }
}

nb-card-header {
    padding: 0!important;
}

nb-list-item {
    border: none!important;
    padding-bottom: 0!important;
}

ion-img {
    overflow: hidden;
    object-fit: cover!important;
    height: 110px!important;
}

ion-icon {
    vertical-align: text-top!important;
}